@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.navBar {
  border: 5px;
  border-color: black;
  text-decoration: none;
  padding: 5px;
  background-color: #181c22;
}

.section1{
  color: white;
  background-color: #27292b;
  margin: 5px;
  border-radius: 20px;
}

.section2{
  color: white;
  background-color: #27292b;
  margin: 5px;
  border-radius: 20px;
}

body {
  background-color: rgb(19, 18, 18);
}

button {
  background-color: #122020;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 20px;
  display: inline-block;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border: 1px black solid;
}


.footer {
  border: 5px;
  border-color: black;
  text-decoration: none;
  padding: 5px;
  background-color: #222831;
}

a {
  color: white;
}

h1, h2, p {
  text-align: center;
}
